<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Mapping Platform</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    <style>
        body { margin: 0.5pc; padding: 0.5pc; background: radial-gradient(circle,grey,white);}
    </style>
</head>

<body>
    <h2 >Location Based Web App</h2>
<style>
    .directions {
        position:relative;
        width: 20pc;
    }
    .mapboxgl-ctrl-directions {
        min-width: 100%;
    }
    #map {
        position:absolute;
        top: 1pc; 
        right: 1pc;
        bottom: 1pc;
        left: 22pc;
    }

</style>
 
<div id="map"></div>
 
<div id="directions" class="directions"></div>
 
<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoic2FpLXZhbXNoaS1iIiwiYSI6ImNsYnl2Y25nOTJpYzYzb250anRjYmQybXgifQ.dukPUTpE-Yp-Ga3AIpbG0Q';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [77.5913,12.97912],
        zoom: 10
    });
 

    const directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    });
 
    document.getElementById('directions').appendChild(directions.onAdd(map));
</script>
 
</body>
</html>